body,
html {
    /* couleur de font grise */
    background-color: grey;
    /* Enlever la barre de défilement droite gauche */
    margin: -8px;
}

body,
html,
img,
footer {
    /* Largeur maximale 100% */
    max-width: 100%;
}

footer {
    /* marge en haut du pied de page à 30px */
    margin-top: 30px;
    /* couleur de font noire */
    background-color: black;
    bottom: 0;
}

img {
    padding: 10px;
}

.adresse,
.droitsreserv {
    /* Centrer le texte */
    text-align: center;
}

.adresse {
    /* marge en haut de l'adresse à 25px */
    margin-top: 25px;
}

.droitsreserv {
    margin-bottom: 10px;
}


/* .map et .map frame servent à rendre le iframe responsive */

.map {
    overflow: hidden;
    /* padding du bas de 60% */
    padding-bottom: 60%;
    /* la div est d'une position relative */
    position: relative;
    /* hauteur de 0 */
    height: 0;
    /* marges de 10px */
    margin: 10px;
}

.map iframe {
    /* se place à gauche à 0px */
    left: 0;
    /* se place en haut de la div à 0px */
    top: 0;
    /* hauteur de 100% */
    height: 100%;
    /* Largeur de 100% */
    width: 100%;
    /* la div est d'une position absolue */
    position: absolute;
}


/* Pas de besoins */


/* #container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 30px;
            padding: 0px;
            background-color: white;
            height: 400px;
            width: 1300px;
            margin-top: 30px;
            text-align: center;
        } */


/* Correctif Logo BootStrap */

.navbar-brand,
.navbar-nav>li>a {
    /* la div est d'une position relative */
    position: relative;
    /* demarre sur une nouvelle ligne et prend toute la largeur */
    display: block;
    /* padding de 15px */
    padding: 15px;
}

#monCarrousel {
    /* decalage de 80px vers le dessous */
    margin-top: 80px;
}

@media only screen and (max-width: 768px) {
    body,
    html {
        /* Retablir le margin */
        margin: 0;
    }
}